
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<p class="panel-default">
    Question Bank is a software for allowing Trainers to add Questions to the database and Extract the questions based on the subject...
</p>
