@model DateTime
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Filters Example</h1> 
        <h3>The current Time is:@Model.ToLongTimeString()</h3>
    </div>
</body>
</html>
