
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @if (ViewBag.Data!= null)
        {
            <h1>View of the page</h1>
            foreach (string str in ViewBag.Data)
            {
                <h2>@str</h2>
                }
            }
    </div>
</body>
</html>
